@model ProductStorageApp.Models.ProductsModel;

@{
    ViewData["Title"] = "Products";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Products</h5>
        <form method="get" asp-action="Index">
            <div class="form-row align-items-center">
                <div class="col-auto form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" value="@Model.SearchName" />
                </div>
                <div class="col-auto form-group">
                    <label>Category</label>
                    <select class="form-control" name="category" asp-items="Model.ProductCategories">
                        <option disabled selected value="">Category</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-auto form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="/Products/Details" class="btn btn-outline-primary">Add product</a>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products!)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Category</td>
                            <td>@product.Price</td>
                            <td>@product.Quantity</td>
                            <td>
                                <a href="/Products/Details/@product.Id" class="btn btn-outline-primary">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
